*{
    font-family: 'Asap', sans-serif;
}
.marca{
    font-weight:800;
    font-size: 1.2rem;
    color:rgb(5, 217, 146);
    text-decoration: none;
    padding:0.5rem;
}


.hoja{
    fill:rgb(5, 217, 146);
}

.nav-link{
    font-weight: 700;
    font-size: 1.2rem;
    color:rgb(5, 217, 146);
    text-decoration: none; 
}


.nav-item{
    font-weight: 800;
    font-size: 1.2rem;
    color:green;
    text-decoration: none; 
}

.tarjeta{
    display: flex;
    margin: auto;
    width: 66%;
    height: auto;
    justify-content: center;
}

.card{
    margin-top: 7rem;
    display: flex;
    background-color: rgb(5, 217, 146);
    align-items: center;
    border-radius: 1rem;
    
}

.item-lista{
    width: 100%;
    background-color: antiquewhite;
    padding: 1rem;
    border-radius: 0.5rem;
}


.tarjeta-post{
    display: flex;
    margin: auto;
    width: 66%;
    height: auto;
    justify-content: center;
}